[submodule "party-bid/liyang"]
	path = party-bid/liyang
	url = git@github.com:weiketa/party_bid
[submodule "party-bid/YuZejiang"]
	path = party-bid/YuZejiang
	url = https://github.com/trotyl/Party-Bid.git
[submodule "POS-machine/YuZejiang"]
	path = POS-machine/YuZejiang
	url = https://github.com/trotyl/Pos-JavaScript.git
[submodule "TDD/YuZejiang"]
	path = TDD/YuZejiang
	url = https://github.com/trotyl/guess-game.git
[submodule "three-data-structures/YuZejiang"]
	path = three-data-structures/YuZejiang
	url = https://github.com/trotyl/party_bid_core.git
[submodule "party-bid/Liuqi"]
	path = party-bid/Liuqi
	url = git@github.com:liuqi8839/partybid.git
[submodule "three-data-structures/Liuqi"]
	path = three-data-structures/Liuqi
	url = git@github.com:liuqi8839/new_core.git
[submodule "POS-machine/Liuqi"]
	path = POS-machine/Liuqi
	url = git@github.com:liuqi8839/pos.git
[submodule "web-pos/Liuqi"]
	path = web-pos/Liuqi
	url = git@github.com:liuqi8839/web-pos.git
[submodule "angular-web-pos/Liuqi"]
	path = angular-web-pos/Liuqi
	url = git@github.com:liuqi8839/angular-web-pos.git
[submodule "party-bid/MaoNingchuan"]
	path = party-bid/MaoNingchuan
	url = https://github.com/minchina/party_bid_new.git
[submodule "POS-machine/MaoNingchuan"]
	path = POS-machine/MaoNingchuan
	url = https://github.com/minchina/pos.git
[submodule "three-data-structures/MaoNingchuan"]
	path = three-data-structures/MaoNingchuan
	url = https://github.com/minchina/party_bid_core.git
[submodule "party-bid/ZhouYong"]
	path = party-bid/ZhouYong
	url = https://github.com/ZhouYong10/partyBid.git
[submodule "three-data-structures/zhouyong"]
	path = three-data-structures/zhouyong
	url = https://github.com/ZhouYong10/party_bid_core.git
[submodule "node-web-pos/zhouyong"]
	path = node-web-pos/zhouyong
	url = https://github.com/ZhouYong10/Pos.git
[submodule "node-web-pos/YuZejiang"]
	path = node-web-pos/YuZejiang
	url = https://github.com/trotyl/Pos-Node.git
